{% extends "base_admin.html" %}
{% block content %}
<!-- Page Heading -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Users</a>
    </li>
    <li class="breadcrumb-item active">Delete user ({{user.username}})</li>
</ol>
<!-- /.row -->


<div class="row">
    <div class="col-md-12">
        {% if error %}

        <p> {{errorMessage}} </p>

        {% else %}

        <p> Delete user {{user.username}} ?</p>
        <form method="post" action ="/admin/user/{{user.id}}/delete">
            <a href="/admin/users" class="btn btn-default">Cancel</a>
            <button type="submit" class="btn btn-danger"> Delete </button>


        </form>

        {% endif %}
        
    </div>
</div>
<!-- /.row -->


{% endblock %}