{% extends "base_layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Business App <small> For small projects with deadlines</small></h1>
        </div>
    </div>
    <div class="col-md-12">

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Requirements</div>
                <div class="panel-body">
                    <p><i class="fa fa-server"></i> Apache (+ mod_rewrite) </p>
                    <p><i class="fa fa-cog"></i> PHP 5.6+ </p>
                    <p><i class="fa fa-code-fork"></i> Composer </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
             <div class="panel panel-default">
                <div class="panel-heading">Features</div>
                <div class="panel-body">
                    <p> <i class="fa fa-cogs"></i> MVT/MVC architecture </p>
                    <p> <i class="fa fa-database"></i> Doctrine ORM </p>
                    <p> <i class="fa fa-file-code-o"></i> Twig templating </p>
                    <p> <i class="fa fa-bold"></i> Bootstrap frontend </p>
                    <p> <i class="fa fa-user"></i> Basic authentification</p>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Setup</div>
                <div class="panel-body">
                    <p>1. Fork <a class="btn btn-default btn-sm" href="http://github.com/dropsnorz/php-mvc-ready"><i class="fa fa-github"></i> php-mvc-ready</a></p>
                    <p>2. Run <code> composer install </code> </p>
                    <p>3. Update config.php and/or local.config.php file with your database informations and run <code>vendor/bin/doctrine orm:schema-tool:create</code></p>
                </div>
            </div>
        </div>
    <div>
</div>
{% endblock %}
